/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display:block
}
html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: "red";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--textColor);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}


.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}



a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}


/* title */

.title {
  text-align: center;
}

.title-underline {
  background: #3c565b;
  width: 4rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* 
============= 
PROJECT CSS
=============
*/

body {
  background: #7c7b79;
  min-height: 100vh;
  min-width: 300px;
}

/* ||HEADER */
.header{
  min-height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:#7c7b79 ;
  width: 100%;
}
.header__h2{
  color:whitesmoke;
  text-shadow: 2px 2px 5px #4b3c1f;
  
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

nav li {
  padding: 0.5rem;
  width: 100%;
  
}

nav a {
  color:whitesmoke;
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}

nav a:any-link {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover,
nav a:focus {
  transform: scale(1.2);
  transition: all 0.3s;
}



/* ||HERO */

.hero {
  min-height: 20vh;
  background-image:linear-gradient(to left, rgb(103, 125, 143),white);
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

figure{
  width: 80%;
}

.hero__div{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:1em;
  margin: 5px;
}
.hero__div:nth-child(1){
 
}
.hero__img{
  width:100% ;
  height:auto ;
  border-radius: 50%;
}

.hero-center {
  width: 90vw;
  max-width: var(--max-width);
}
.hero-title h1 {
  margin-bottom: 2rem;
  font-weight: 700;
  animation: bounce 2s ease-in-out infinite
}
.hero-title p {
  line-height: 1.3;
  max-width: 35em;
  color: var(--grey-600);
}


.projects {
  padding: 2rem 0;
}
.projects-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.project {
  background: var(--white);
  display: block;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}
.project:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-4);
}

.project .img {
  height: 15rem;
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
}

.project h5 {
  text-align: center;
  padding: 1rem 0;
  color: var(--grey-700);
}

@media (min-width: 768px) {
  .projects-center {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}


@keyframes bounce {
  0%{
transform: scale(1);
  }
  50%{
    transform: scale(1.03);
  }
  0%{
    transform: scale(1);
  }
}